openapi: 3.1.0
info: {title: GizPay Account API, version: 2.0.0}
servers: [{url: https://pay.gizway.com/account/v1}]
security: [{humanBearer: []}]
paths:
  /accounts:
    get: {operationId: listAccounts, responses: {'200': {$ref: '#/components/responses/AccountList'}}}
  /accounts/{account_id}/balance:
    parameters: [{$ref: '#/components/parameters/account_id'}]
    get: {operationId: getAccountBalance, responses: {'200': {$ref: '#/components/responses/Balance'}}}
  /accounts/{account_id}/transactions:
    parameters: [{$ref: '#/components/parameters/account_id'}]
    get:
      operationId: listAccountTransactions
      parameters: [{name: ledger_transaction_id, in: query, schema: {type: string}}]
      responses: {'200': {$ref: '#/components/responses/ResourceList'}}
  /accounts/{account_id}/charges:
    parameters: [{$ref: '#/components/parameters/account_id'}]
    get: {operationId: listAccountCharges, responses: {'200': {$ref: '#/components/responses/ResourceList'}}}
  /service-accounts:
    get: {operationId: listServiceAccounts, responses: {'200': {$ref: '#/components/responses/ServiceAccountList'}}}
    post:
      operationId: createServiceAccount
      requestBody: {$ref: '#/components/requestBodies/CreateServiceAccount'}
      responses: {'201': {$ref: '#/components/responses/ServiceAccountCreated'}}
  /service-accounts/{service_account_id}:
    parameters: [{$ref: '#/components/parameters/service_account_id'}]
    delete: {operationId: revokeServiceAccount, responses: {'204': {description: Credential revoked and local record soft-revoked}}}
  /merchants:
    get: {operationId: listMerchants, responses: {'200': {$ref: '#/components/responses/MerchantList'}}}
    post:
      operationId: createMerchant
      requestBody: {$ref: '#/components/requestBodies/CreateMerchant'}
      responses: {'201': {$ref: '#/components/responses/Merchant'}}
  /merchants/{merchant_id}:
    parameters: [{$ref: '#/components/parameters/merchant_id'}]
    get: {operationId: getMerchant, responses: {'200': {$ref: '#/components/responses/Merchant'}}}
    patch:
      operationId: updateMerchant
      requestBody: {$ref: '#/components/requestBodies/UpdateMerchant'}
      responses: {'200': {$ref: '#/components/responses/Merchant'}}
  /merchants/{merchant_id}/products:
    parameters: [{$ref: '#/components/parameters/merchant_id'}]
    get: {operationId: listMerchantProducts, responses: {'200': {$ref: '#/components/responses/ProductList'}}}
    post:
      operationId: createMerchantProduct
      requestBody: {$ref: '#/components/requestBodies/CreateProduct'}
      responses: {'201': {$ref: '#/components/responses/Product'}}
  /products/{product_id}:
    parameters: [{$ref: '#/components/parameters/product_id'}]
    get: {operationId: getProduct, responses: {'200': {$ref: '#/components/responses/Product'}}}
    patch:
      operationId: updateProduct
      requestBody: {$ref: '#/components/requestBodies/UpdateProduct'}
      responses: {'200': {$ref: '#/components/responses/Product'}}
  /products/{product_id}/subscriptions:
    parameters: [{$ref: '#/components/parameters/product_id'}]
    post:
      operationId: createProductSubscription
      requestBody: {$ref: '#/components/requestBodies/CreateSubscription'}
      responses: {'201': {$ref: '#/components/responses/Subscription'}}
  /subscriptions:
    get: {operationId: listSubscriptions, responses: {'200': {$ref: '#/components/responses/SubscriptionList'}}}
  /subscriptions/{subscription_id}:
    parameters: [{$ref: '#/components/parameters/subscription_id'}]
    get: {operationId: getSubscription, responses: {'200': {$ref: '#/components/responses/Subscription'}}}
    patch:
      operationId: updateSubscription
      requestBody: {$ref: '#/components/requestBodies/UpdateSubscription'}
      responses: {'200': {$ref: '#/components/responses/Subscription'}}
  /subscriptions/{subscription_id}/api-keys:
    parameters: [{$ref: '#/components/parameters/subscription_id'}]
    get: {operationId: listSubscriptionAPIKeys, responses: {'200': {$ref: '#/components/responses/APIKeyList'}}}
    post: {operationId: createSubscriptionAPIKey, responses: {'201': {$ref: '#/components/responses/APIKey'}}}
  /subscriptions/{subscription_id}/api-keys/{api_key_id}:
    parameters: [{$ref: '#/components/parameters/subscription_id'}, {$ref: '#/components/parameters/api_key_id'}]
    get: {operationId: getSubscriptionAPIKey, responses: {'200': {$ref: '#/components/responses/APIKey'}}}
  /subscriptions/{subscription_id}/api-keys/{api_key_id}/revoke:
    parameters: [{$ref: '#/components/parameters/subscription_id'}, {$ref: '#/components/parameters/api_key_id'}]
    post: {operationId: revokeSubscriptionAPIKey, responses: {'200': {$ref: '#/components/responses/APIKey'}}}
components:
  securitySchemes:
    humanBearer: {type: http, scheme: bearer, bearerFormat: JWT}
  parameters:
    account_id: {name: account_id, in: path, required: true, schema: {type: string}}
    service_account_id: {name: service_account_id, in: path, required: true, schema: {type: string}}
    merchant_id: {name: merchant_id, in: path, required: true, schema: {type: string}}
    product_id: {name: product_id, in: path, required: true, schema: {type: string}}
    subscription_id: {name: subscription_id, in: path, required: true, schema: {type: string}}
    api_key_id: {name: api_key_id, in: path, required: true, schema: {type: string}}
  schemas:
    Status: {type: string, enum: [active, inactive]}
    Account:
      type: object
      required: [id, status, kind, asset, created_at]
      properties:
        id: {type: string}
        status: {$ref: '#/components/schemas/Status'}
        kind: {type: string, const: personal}
        asset: {type: string, const: GIZ_CREDIT}
        created_at: {type: string, format: date-time}
        ledger_accounts: {type: array, items: {type: object, additionalProperties: true}}
    Merchant:
      type: object
      required: [id, settlement_account_id, legal_name, public_name, status]
      properties:
        id: {type: string}
        settlement_account_id: {type: string}
        legal_name: {type: string, minLength: 1}
        public_name: {type: string, minLength: 1}
        status: {$ref: '#/components/schemas/Status'}
        review_level: {type: string}
        created_at: {type: string, format: date-time}
        updated_at: {type: string, format: date-time}
    Product:
      type: object
      required: [id, merchant_id, name, billing_mode, status, terms_version]
      properties:
        id: {type: string}
        merchant_id: {type: string}
        name: {type: string, minLength: 1}
        billing_mode: {type: string, const: pay_as_you_go}
        status: {$ref: '#/components/schemas/Status'}
        terms_version: {type: string, minLength: 1}
    Subscription:
      type: object
      required: [id, account_id, product_id, status, terms_version]
      properties:
        id: {type: string}
        account_id: {type: string}
        product_id: {type: string}
        status: {type: string, enum: [active, paused, inactive]}
        terms_version: {type: string}
        accepted_at: {type: string, format: date-time}
        created_at: {type: string, format: date-time}
        canceled_at: {type: [string, 'null'], format: date-time}
    SubscriptionAPIKey:
      type: object
      required: [id, subscription_id, api_key, status]
      properties:
        id: {type: string}
        subscription_id: {type: string}
        api_key: {type: string, minLength: 32, writeOnly: false}
        status: {type: string, enum: [active, revoked]}
        created_at: {type: string, format: date-time}
        revoked_at: {type: [string, 'null'], format: date-time}
    ServiceAccount:
      type: object
      required: [id, status]
      properties:
        id: {type: string}
        name: {type: string}
        roles: {type: array, items: {type: string}}
        status: {type: string, enum: [active, revoked]}
        credential: {type: object, additionalProperties: true, writeOnly: true}
        created_at: {type: string, format: date-time}
        revoked_at: {type: [string, 'null'], format: date-time}
    Resource: {type: object, additionalProperties: true}
    ResourceList:
      type: object
      required: [data]
      properties: {data: {type: array, items: {$ref: '#/components/schemas/Resource'}}}
    Balance:
      type: object
      required: [account_id, balance_microcredits]
      properties: {account_id: {type: string}, balance_microcredits: {type: integer, format: int64}}
  requestBodies:
    CreateServiceAccount: {required: true, content: {application/json: {schema: {type: object, required: [name, roles], properties: {name: {type: string, minLength: 1}, roles: {type: array, minItems: 1, uniqueItems: true, items: {type: string}}}}}}}
    CreateMerchant: {required: true, content: {application/json: {schema: {type: object, required: [settlement_account_id, legal_name, public_name], properties: {settlement_account_id: {type: string}, legal_name: {type: string, minLength: 1}, public_name: {type: string, minLength: 1}}}}}}
    UpdateMerchant: {required: true, content: {application/json: {schema: {type: object, required: [public_name], properties: {public_name: {type: string, minLength: 1}}}}}}
    CreateProduct: {required: true, content: {application/json: {schema: {type: object, required: [name, billing_mode, terms_version], properties: {name: {type: string, minLength: 1}, billing_mode: {type: string, const: pay_as_you_go}, terms_version: {type: string, minLength: 1}}}}}}
    UpdateProduct: {required: true, content: {application/json: {schema: {type: object, properties: {name: {type: string, minLength: 1}, status: {$ref: '#/components/schemas/Status'}}}}}}
    CreateSubscription: {required: true, content: {application/json: {schema: {type: object, required: [account_id, terms_version], properties: {account_id: {type: string}, terms_version: {type: string, minLength: 1}}}}}}
    UpdateSubscription: {required: true, content: {application/json: {schema: {type: object, required: [status], properties: {status: {type: string, enum: [active, paused, inactive]}}}}}}
  responses:
    AccountList: {description: Accounts, content: {application/json: {schema: {type: object, required: [data], properties: {data: {type: array, items: {$ref: '#/components/schemas/Account'}}}}}}}
    Balance: {description: Balance, content: {application/json: {schema: {$ref: '#/components/schemas/Balance'}}}}
    ResourceList: {description: Resources, content: {application/json: {schema: {$ref: '#/components/schemas/ResourceList'}}}}
    Merchant: {description: Merchant, content: {application/json: {schema: {$ref: '#/components/schemas/Merchant'}}}}
    MerchantList: {description: Merchants, content: {application/json: {schema: {type: object, required: [data], properties: {data: {type: array, items: {$ref: '#/components/schemas/Merchant'}}}}}}}
    Product: {description: Product, content: {application/json: {schema: {$ref: '#/components/schemas/Product'}}}}
    ProductList: {description: Products, content: {application/json: {schema: {type: object, required: [data], properties: {data: {type: array, items: {$ref: '#/components/schemas/Product'}}}}}}}
    Subscription: {description: Subscription, content: {application/json: {schema: {$ref: '#/components/schemas/Subscription'}}}}
    SubscriptionList: {description: Subscriptions, content: {application/json: {schema: {type: object, required: [data], properties: {data: {type: array, items: {$ref: '#/components/schemas/Subscription'}}}}}}}
    APIKey: {description: Subscription API Key, content: {application/json: {schema: {$ref: '#/components/schemas/SubscriptionAPIKey'}}}}
    APIKeyList: {description: Subscription API Keys, content: {application/json: {schema: {type: object, required: [data], properties: {data: {type: array, items: {$ref: '#/components/schemas/SubscriptionAPIKey'}}}}}}}
    ServiceAccountList: {description: Service Accounts, content: {application/json: {schema: {type: object, required: [data], properties: {data: {type: array, items: {$ref: '#/components/schemas/ServiceAccount'}}}}}}}
    ServiceAccountCreated: {description: Service Account credential is returned once, content: {application/json: {schema: {$ref: '#/components/schemas/ServiceAccount'}}}}
