openapi: 3.1.0
info:
  title: GizPay Admin API
  version: 1.0.0
  license: {name: Proprietary, identifier: LicenseRef-Proprietary}
servers: [{url: https://credit.gizway.com/admin/v1}]
security:
  - adminSessionAuth: []
  - adminApiKeyAuth: []
paths:
  /auth/login: {$ref: './admin.yaml#/paths/~1auth~1login'}
  /auth/refresh: {$ref: './admin.yaml#/paths/~1auth~1refresh'}
  /auth/logout: {$ref: './admin.yaml#/paths/~1auth~1logout'}
  /me: {$ref: './admin.yaml#/paths/~1me'}
  /administrators: {$ref: './admin.yaml#/paths/~1administrators'}
  /administrators/{administrator_id}: {$ref: './admin.yaml#/paths/~1administrators~1{administrator_id}'}
  /administrators/{administrator_id}/api_keys: {$ref: './admin.yaml#/paths/~1administrators~1{administrator_id}~1api_keys'}
  /administrators/{administrator_id}/api_keys/{admin_api_key_id}/revoke: {$ref: './admin.yaml#/paths/~1administrators~1{administrator_id}~1api_keys~1{admin_api_key_id}~1revoke'}
  /overview: {$ref: './admin.yaml#/paths/~1overview'}
  /gateway_nodes: {$ref: './admin.yaml#/paths/~1gateway_nodes'}
  /gateway_nodes/{node_id}: {$ref: './admin.yaml#/paths/~1gateway_nodes~1{node_id}'}
  /gateway_nodes/{node_id}/certificates: {$ref: './admin.yaml#/paths/~1gateway_nodes~1{node_id}~1certificates'}
  /gateway_nodes/{node_id}/certificates/{certificate_id}/activate: {$ref: './admin.yaml#/paths/~1gateway_nodes~1{node_id}~1certificates~1{certificate_id}~1activate'}
  /gateway_nodes/{node_id}/certificates/{certificate_id}/revoke: {$ref: './admin.yaml#/paths/~1gateway_nodes~1{node_id}~1certificates~1{certificate_id}~1revoke'}
  /received_usage: {$ref: './admin.yaml#/paths/~1received_usage'}
  /rate_publications:
    get:
      tags: [Rate publications]
      operationId: listGizPayRatePublications
      summary: List immutable GizPay publication receipts
      parameters:
        - name: node_id
          in: query
          schema: {type: string}
        - name: region
          in: query
          schema: {type: string, enum: [cn, global]}
        - name: status
          in: query
          schema: {type: string}
        - $ref: './common.yaml#/components/parameters/Cursor'
        - $ref: './common.yaml#/components/parameters/Limit'
      responses:
        '200':
          description: Publication diagnostic page.
          content:
            application/json:
              schema: {$ref: './admin.yaml#/components/schemas/AdminDiagnosticPage'}
  /rate_publications/{publication_id}/disable: {$ref: './admin.yaml#/paths/~1rate_publications~1{publication_id}~1disable'}
  /users: {$ref: './admin.yaml#/paths/~1users'}
  /users/{user_id}: {$ref: './admin.yaml#/paths/~1users~1{user_id}'}
  /users/{user_id}/status: {$ref: './admin.yaml#/paths/~1users~1{user_id}~1status'}
  /merchants: {$ref: './admin.yaml#/paths/~1merchants'}
  /merchants/{account_id}: {$ref: './admin.yaml#/paths/~1merchants~1{account_id}'}
  /merchants/{account_id}/decision: {$ref: './admin.yaml#/paths/~1merchants~1{account_id}~1decision'}
  /merchant_services/{service_id}/decision: {$ref: './admin.yaml#/paths/~1merchant_services~1{service_id}~1decision'}
  /api_keys: {$ref: './admin.yaml#/paths/~1api_keys'}
  /api_keys/{api_key_id}/revoke: {$ref: './admin.yaml#/paths/~1api_keys~1{api_key_id}~1revoke'}
  /payments: {$ref: './admin.yaml#/paths/~1payments'}
  /ledger/accounts: {$ref: './admin.yaml#/paths/~1ledger~1accounts'}
  /accounts/{account_id}/balance_status: {$ref: './admin.yaml#/paths/~1accounts~1{account_id}~1balance_status'}
  /ledger/transactions: {$ref: './admin.yaml#/paths/~1ledger~1transactions'}
  /ledger/adjustments: {$ref: './admin.yaml#/paths/~1ledger~1adjustments'}
  /ledger/transactions/{transaction_id}/reverse: {$ref: './admin.yaml#/paths/~1ledger~1transactions~1{transaction_id}~1reverse'}
  /webhook_deliveries: {$ref: './admin.yaml#/paths/~1webhook_deliveries'}
  /webhook_deliveries/{delivery_id}/retry: {$ref: './admin.yaml#/paths/~1webhook_deliveries~1{delivery_id}~1retry'}
  /audit_events: {$ref: './admin.yaml#/paths/~1audit_events'}
components:
  securitySchemes:
    adminSessionAuth: {$ref: './common.yaml#/components/securitySchemes/adminSessionAuth'}
    adminApiKeyAuth: {$ref: './common.yaml#/components/securitySchemes/adminApiKeyAuth'}
