openapi: 3.1.0
info: {title: GizWay Public AI API, version: 4.0.0}
servers: [{url: https://gateway.gizclaw.com}]
security: [{subscriptionKey: []}, {anthropicSubscriptionKey: []}, {geminiSubscriptionKey: []}]
paths:
  /auth/runtime-config:
    get:
      operationId: getPublicRuntimeConfig
      security: []
      responses:
        '200': {description: Browser-safe site runtime configuration, content: {application/json: {schema: {$ref: '#/components/schemas/PublicRuntimeConfig'}}}}
        '503':
          description: runtime_config_unavailable
          content: {application/json: {schema: {$ref: 'common.yaml#/components/schemas/ErrorResponse'}}}
  /auth/catalog-token:
    get:
      operationId: getPublicCatalogToken
      security: []
      responses:
        '200': {description: Current cached Public Catalog JWT, content: {application/json: {schema: {$ref: '#/components/schemas/CatalogToken'}}}}
        '503':
          description: public_catalog_token_unavailable
          content: {application/json: {schema: {$ref: 'common.yaml#/components/schemas/ErrorResponse'}}}
  /openai/v1/models:
    get:
      operationId: listModels
      responses: {'200': {$ref: '#/components/responses/ModelList'}}
  /openai/v1/chat/completions:
    post:
      operationId: createChatCompletion
      requestBody: {$ref: '#/components/requestBodies/ChatCompletion'}
      responses: {'200': {$ref: '#/components/responses/AIResponse'}}
  /anthropic/v1/messages:
    post:
      operationId: createAnthropicMessage
      parameters: [{name: anthropic-version, in: header, required: true, schema: {type: string, minLength: 1}}]
      requestBody: {$ref: '#/components/requestBodies/ChatCompletion'}
      responses: {'200': {$ref: '#/components/responses/AIResponse'}}
  /genai/v1beta/models/{model}:generateContent:
    parameters: [{name: model, in: path, required: true, schema: {type: string, minLength: 1}}]
    post:
      operationId: generateGeminiContent
      requestBody: {$ref: '#/components/requestBodies/GeminiContent'}
      responses: {'200': {$ref: '#/components/responses/AIResponse'}}
  /genai/v1beta/models/{model}:streamGenerateContent:
    parameters: [{name: model, in: path, required: true, schema: {type: string, minLength: 1}}]
    post:
      operationId: streamGeminiContent
      requestBody: {$ref: '#/components/requestBodies/GeminiContent'}
      responses: {'200': {$ref: '#/components/responses/AIResponse'}}
  /openai/v1/realtime/client_secrets:
    post:
      operationId: createRealtimeClientSecret
      requestBody: {required: true, content: {application/json: {schema: {type: object, additionalProperties: false, required: [model, transport], properties: {model: {type: string, minLength: 1}, transport: {type: string, const: websocket}}}}}}
      responses: {'201': {description: Ephemeral regional Realtime session, content: {application/json: {schema: {$ref: '#/components/schemas/RealtimeSecret'}}}}}
  /openai/v1/realtime:
    get:
      operationId: connectRealtimeWebSocket
      security: [{realtimeSecret: []}]
      parameters: [{name: session_id, in: query, required: true, schema: {type: string}}]
      responses: {'101': {description: WebSocket protocol switch}}
components:
  securitySchemes:
    subscriptionKey: {type: http, scheme: bearer}
    anthropicSubscriptionKey: {type: apiKey, in: header, name: x-api-key}
    geminiSubscriptionKey: {type: apiKey, in: header, name: x-goog-api-key}
    realtimeSecret: {type: http, scheme: bearer}
  schemas:
    ErrorResponse: {$ref: 'common.yaml#/components/schemas/ErrorResponse'}
    CatalogToken:
      type: object
      additionalProperties: false
      required: [access_token, token_type, expires_at]
      properties:
        access_token: {type: string, minLength: 1}
        token_type: {type: string, const: Bearer}
        expires_at: {type: string, format: date-time}
    PublicRuntimeConfig:
      type: object
      additionalProperties: false
      required: [site, identity, services]
      properties:
        site:
          type: object
          additionalProperties: false
          required: [hostname]
          properties: {hostname: {type: string, minLength: 1}}
        identity:
          type: object
          additionalProperties: false
          required: [issuer, client_id, redirect_uri, post_logout_redirect_uri, audience]
          properties:
            issuer: {type: string, format: uri}
            client_id: {type: string, minLength: 1}
            redirect_uri: {type: string, format: uri}
            post_logout_redirect_uri: {type: string, format: uri}
            audience: {type: string, minLength: 1}
        services:
          type: object
          additionalProperties: false
          required: [public_catalog_token_url, gizpay_powersync_url, gizpay_api_url, gizway_powersync_url, gizway_api_url]
          properties:
            public_catalog_token_url: {type: string, format: uri}
            gizpay_powersync_url: {type: string, format: uri}
            gizpay_api_url: {type: string, format: uri}
            gizway_powersync_url: {type: string, format: uri}
            gizway_api_url: {type: string, format: uri}
    Model:
      type: object
      required: [id, object]
      properties: {id: {type: string}, object: {type: string, const: model}}
    Message:
      type: object
      required: [role, content]
      properties: {role: {type: string, minLength: 1}, content: {type: string}}
    AIResponse: {type: object, additionalProperties: true}
    RealtimeSecret:
      type: object
      required: [client_secret, session]
      properties:
        client_secret: {type: object, required: [value, expires_at], properties: {value: {type: string}, expires_at: {type: integer, format: int64}}}
        session:
          type: object
          required: [session_id, transport, model]
          properties: {session_id: {type: string}, transport: {type: string, const: websocket}, model: {type: string}}
  requestBodies:
    ChatCompletion:
      required: true
      content:
        application/json:
          schema:
            type: object
            required: [model, messages]
            properties:
              model: {type: string, minLength: 1}
              messages: {type: array, minItems: 1, items: {$ref: '#/components/schemas/Message'}}
              stream: {type: boolean, default: false}
              max_tokens: {type: integer, minimum: 1}
              temperature: {type: number}
              top_p: {type: number}
              top_k: {type: integer}
              stop: {type: array, items: {type: string}}
              stream_options:
                type: object
                additionalProperties: false
                properties:
                  include_usage: {type: boolean}
                  include_obfuscation: {type: boolean}
    GeminiContent:
      required: true
      content:
        application/json:
          schema:
            type: object
            required: [contents]
            properties:
              contents: {type: array, minItems: 1, items: {type: object, additionalProperties: true}}
              generationConfig:
                type: object
                properties:
                  maxOutputTokens: {type: integer, minimum: 1}
                  temperature: {type: number}
                  topP: {type: number}
                  topK: {type: integer}
                  stopSequences: {type: array, items: {type: string}}
  responses:
    ModelList: {description: Regional active models, content: {application/json: {schema: {type: object, required: [data], properties: {data: {type: array, items: {$ref: '#/components/schemas/Model'}}}}}}}
    AIResponse: {description: Provider-compatible response, content: {application/json: {schema: {$ref: '#/components/schemas/AIResponse'}}, text/event-stream: {schema: {type: string}}}}
