openapi: 3.1.0
info: {title: GizWay User Command API, version: 3.0.0}
servers: [{url: https://api.gizway.com/user/v1}]
security: [{humanBearer: []}]
paths:
  /providers/{provider_id}/keys:
    parameters: [{$ref: '#/components/parameters/provider_id'}]
    post:
      operationId: createProviderKey
      requestBody: {required: true, content: {application/json: {schema: {$ref: '#/components/schemas/CreateProviderKey'}}}}
      responses: {'201': {description: Provider Key created atomically, content: {application/json: {schema: {$ref: '#/components/schemas/ProviderKey'}}}}}
  /provider-keys/{provider_key_id}/prices:
    parameters: [{$ref: '#/components/parameters/provider_key_id'}]
    put:
      operationId: putProviderKeyPrices
      requestBody: {required: true, content: {application/json: {schema: {$ref: '#/components/schemas/Prices'}}}}
      responses: {'200': {description: Current procurement prices, content: {application/json: {schema: {$ref: '#/components/schemas/Prices'}}}}}
  /provider-keys/{provider_key_id}/disable:
    parameters: [{$ref: '#/components/parameters/provider_key_id'}]
    post:
      operationId: disableProviderKey
      responses: {'200': {description: Disabled owner Provider Key, content: {application/json: {schema: {$ref: '#/components/schemas/ProviderKey'}}}}}
components:
  securitySchemes:
    humanBearer: {type: http, scheme: bearer, bearerFormat: JWT}
  parameters:
    provider_id: {name: provider_id, in: path, required: true, schema: {type: string, minLength: 1}}
    provider_key_id: {name: provider_key_id, in: path, required: true, schema: {type: string, minLength: 1}}
  schemas:
    Price:
      type: object
      additionalProperties: false
      required: [model_id, metric, unit_size, microcredits_per_unit]
      properties:
        model_id: {type: string, minLength: 1}
        metric: {type: string, enum: [input_tokens, output_tokens]}
        unit_size: {type: integer, format: int64, minimum: 1}
        microcredits_per_unit: {type: integer, format: int64, minimum: 0}
    Prices:
      type: object
      additionalProperties: false
      required: [prices]
      properties: {prices: {type: array, minItems: 1, items: {$ref: '#/components/schemas/Price'}}}
    CreateProviderKey:
      type: object
      additionalProperties: false
      required: [key, status, prices]
      properties:
        name: {type: string, minLength: 1}
        key: {type: string, minLength: 1}
        status: {type: string, const: active}
        prices: {type: array, minItems: 1, items: {$ref: '#/components/schemas/Price'}}
    ProviderKey:
      type: object
      required: [provider_key_id, provider_id, key, merchant_id, status]
      properties:
        provider_key_id: {type: string}
        provider_id: {type: string}
        key: {type: string}
        merchant_id: {type: string}
        status: {type: string, enum: [active, disabled]}
        prices: {type: array, items: {$ref: '#/components/schemas/Price'}}
