openapi: 3.1.0
info: {title: GizWay Admin API, version: 4.0.0}
servers: [{url: https://api.gizway.com/admin/v1}]
security: [{adminKey: []}]
paths:
  /providers:
    post:
      operationId: createAdminProvider
      requestBody: {$ref: '#/components/requestBodies/CreateProvider'}
      responses:
        '200': {$ref: '#/components/responses/Provider'}
        '201': {$ref: '#/components/responses/Provider'}
        '400': {$ref: 'common.yaml#/components/responses/BadRequest'}
        '401': {$ref: 'common.yaml#/components/responses/Unauthorized'}
        '409': {$ref: 'common.yaml#/components/responses/Conflict'}
        '500': {$ref: 'common.yaml#/components/responses/InternalError'}
    get:
      operationId: listAdminProviders
      responses:
        '200': {$ref: '#/components/responses/ProviderList'}
        '401': {$ref: 'common.yaml#/components/responses/Unauthorized'}
        '500': {$ref: 'common.yaml#/components/responses/InternalError'}
  /providers/{provider_id}:
    parameters: [{$ref: '#/components/parameters/provider_id'}]
    get:
      operationId: getAdminProvider
      responses:
        '200': {$ref: '#/components/responses/Provider'}
        '401': {$ref: 'common.yaml#/components/responses/Unauthorized'}
        '404': {$ref: 'common.yaml#/components/responses/NotFound'}
        '500': {$ref: 'common.yaml#/components/responses/InternalError'}
    patch:
      operationId: updateAdminProvider
      requestBody: {$ref: '#/components/requestBodies/UpdateProvider'}
      responses:
        '200': {$ref: '#/components/responses/Provider'}
        '400': {$ref: 'common.yaml#/components/responses/BadRequest'}
        '401': {$ref: 'common.yaml#/components/responses/Unauthorized'}
        '404': {$ref: 'common.yaml#/components/responses/NotFound'}
        '500': {$ref: 'common.yaml#/components/responses/InternalError'}
    delete:
      operationId: deleteAdminProvider
      responses:
        '204': {description: Provider is inactive}
        '401': {$ref: 'common.yaml#/components/responses/Unauthorized'}
        '404': {$ref: 'common.yaml#/components/responses/NotFound'}
        '500': {$ref: 'common.yaml#/components/responses/InternalError'}
  /models:
    post:
      operationId: createAdminModel
      requestBody: {$ref: '#/components/requestBodies/CreateModel'}
      responses:
        '200': {$ref: '#/components/responses/Model'}
        '201': {$ref: '#/components/responses/Model'}
        '400': {$ref: 'common.yaml#/components/responses/BadRequest'}
        '401': {$ref: 'common.yaml#/components/responses/Unauthorized'}
        '404': {$ref: 'common.yaml#/components/responses/NotFound'}
        '409': {$ref: 'common.yaml#/components/responses/Conflict'}
        '500': {$ref: 'common.yaml#/components/responses/InternalError'}
    get:
      operationId: listAdminModels
      responses:
        '200': {$ref: '#/components/responses/ModelList'}
        '401': {$ref: 'common.yaml#/components/responses/Unauthorized'}
        '500': {$ref: 'common.yaml#/components/responses/InternalError'}
  /models/{model_id}:
    parameters: [{$ref: '#/components/parameters/model_id'}]
    get:
      operationId: getAdminModel
      responses:
        '200': {$ref: '#/components/responses/Model'}
        '401': {$ref: 'common.yaml#/components/responses/Unauthorized'}
        '404': {$ref: 'common.yaml#/components/responses/NotFound'}
        '500': {$ref: 'common.yaml#/components/responses/InternalError'}
    patch:
      operationId: updateAdminModel
      requestBody: {$ref: '#/components/requestBodies/UpdateModel'}
      responses:
        '200': {$ref: '#/components/responses/Model'}
        '400': {$ref: 'common.yaml#/components/responses/BadRequest'}
        '401': {$ref: 'common.yaml#/components/responses/Unauthorized'}
        '404': {$ref: 'common.yaml#/components/responses/NotFound'}
        '500': {$ref: 'common.yaml#/components/responses/InternalError'}
    delete:
      operationId: deleteAdminModel
      responses:
        '204': {description: Model is inactive}
        '401': {$ref: 'common.yaml#/components/responses/Unauthorized'}
        '404': {$ref: 'common.yaml#/components/responses/NotFound'}
        '500': {$ref: 'common.yaml#/components/responses/InternalError'}
  /models/{model_id}/customer-prices:
    parameters: [{$ref: '#/components/parameters/model_id'}]
    get:
      operationId: getAdminModelCustomerPrices
      responses:
        '200': {$ref: '#/components/responses/CustomerPrices'}
        '401': {$ref: 'common.yaml#/components/responses/Unauthorized'}
        '404': {$ref: 'common.yaml#/components/responses/NotFound'}
        '500': {$ref: 'common.yaml#/components/responses/InternalError'}
    put:
      operationId: replaceAdminModelCustomerPrices
      requestBody: {$ref: '#/components/requestBodies/CustomerPrices'}
      responses:
        '200': {$ref: '#/components/responses/CustomerPrices'}
        '400': {$ref: 'common.yaml#/components/responses/BadRequest'}
        '401': {$ref: 'common.yaml#/components/responses/Unauthorized'}
        '404': {$ref: 'common.yaml#/components/responses/NotFound'}
        '500': {$ref: 'common.yaml#/components/responses/InternalError'}
  /model-listings:
    post:
      operationId: createAdminModelListing
      requestBody: {$ref: '#/components/requestBodies/CreateModelListing'}
      responses:
        '200': {$ref: '#/components/responses/ModelListing'}
        '201': {$ref: '#/components/responses/ModelListing'}
        '400': {$ref: 'common.yaml#/components/responses/BadRequest'}
        '401': {$ref: 'common.yaml#/components/responses/Unauthorized'}
        '404': {$ref: 'common.yaml#/components/responses/NotFound'}
        '409': {$ref: 'common.yaml#/components/responses/Conflict'}
        '500': {$ref: 'common.yaml#/components/responses/InternalError'}
    get:
      operationId: listAdminModelListings
      responses:
        '200': {$ref: '#/components/responses/ModelListingList'}
        '401': {$ref: 'common.yaml#/components/responses/Unauthorized'}
        '500': {$ref: 'common.yaml#/components/responses/InternalError'}
  /model-listings/{model_listing_id}:
    parameters: [{$ref: '#/components/parameters/model_listing_id'}]
    get:
      operationId: getAdminModelListing
      responses:
        '200': {$ref: '#/components/responses/ModelListing'}
        '401': {$ref: 'common.yaml#/components/responses/Unauthorized'}
        '404': {$ref: 'common.yaml#/components/responses/NotFound'}
        '500': {$ref: 'common.yaml#/components/responses/InternalError'}
    patch:
      operationId: updateAdminModelListing
      requestBody: {$ref: '#/components/requestBodies/UpdateModelListing'}
      responses:
        '200': {$ref: '#/components/responses/ModelListing'}
        '400': {$ref: 'common.yaml#/components/responses/BadRequest'}
        '401': {$ref: 'common.yaml#/components/responses/Unauthorized'}
        '404': {$ref: 'common.yaml#/components/responses/NotFound'}
        '500': {$ref: 'common.yaml#/components/responses/InternalError'}
    delete:
      operationId: deleteAdminModelListing
      responses:
        '204': {description: Model Listing is unavailable}
        '401': {$ref: 'common.yaml#/components/responses/Unauthorized'}
        '404': {$ref: 'common.yaml#/components/responses/NotFound'}
        '500': {$ref: 'common.yaml#/components/responses/InternalError'}
  /provider-keys:
    post:
      operationId: createAdminProviderKey
      requestBody: {$ref: '#/components/requestBodies/CreateProviderKey'}
      responses:
        '200': {$ref: '#/components/responses/ProviderKey'}
        '201': {$ref: '#/components/responses/ProviderKey'}
        '400': {$ref: 'common.yaml#/components/responses/BadRequest'}
        '401': {$ref: 'common.yaml#/components/responses/Unauthorized'}
        '404': {$ref: 'common.yaml#/components/responses/NotFound'}
        '409': {$ref: 'common.yaml#/components/responses/Conflict'}
        '500': {$ref: 'common.yaml#/components/responses/InternalError'}
    get:
      operationId: listAdminProviderKeys
      responses:
        '200': {$ref: '#/components/responses/ProviderKeyList'}
        '401': {$ref: 'common.yaml#/components/responses/Unauthorized'}
        '500': {$ref: 'common.yaml#/components/responses/InternalError'}
  /provider-keys/{provider_key_id}:
    parameters: [{$ref: '#/components/parameters/provider_key_id'}]
    get:
      operationId: getAdminProviderKey
      responses:
        '200': {$ref: '#/components/responses/ProviderKey'}
        '401': {$ref: 'common.yaml#/components/responses/Unauthorized'}
        '404': {$ref: 'common.yaml#/components/responses/NotFound'}
        '500': {$ref: 'common.yaml#/components/responses/InternalError'}
    patch:
      operationId: updateAdminProviderKey
      requestBody: {$ref: '#/components/requestBodies/UpdateProviderKey'}
      responses:
        '200': {$ref: '#/components/responses/ProviderKey'}
        '400': {$ref: 'common.yaml#/components/responses/BadRequest'}
        '401': {$ref: 'common.yaml#/components/responses/Unauthorized'}
        '404': {$ref: 'common.yaml#/components/responses/NotFound'}
        '500': {$ref: 'common.yaml#/components/responses/InternalError'}
    delete:
      operationId: deleteAdminProviderKey
      responses:
        '204': {description: Provider Key is disabled}
        '401': {$ref: 'common.yaml#/components/responses/Unauthorized'}
        '404': {$ref: 'common.yaml#/components/responses/NotFound'}
        '500': {$ref: 'common.yaml#/components/responses/InternalError'}
  /provider-keys/{provider_key_id}/rotate-secret:
    parameters: [{$ref: '#/components/parameters/provider_key_id'}]
    post:
      operationId: rotateAdminProviderKeySecret
      requestBody: {$ref: '#/components/requestBodies/RotateProviderKeySecret'}
      responses:
        '200': {$ref: '#/components/responses/ProviderKey'}
        '400': {$ref: 'common.yaml#/components/responses/BadRequest'}
        '401': {$ref: 'common.yaml#/components/responses/Unauthorized'}
        '404': {$ref: 'common.yaml#/components/responses/NotFound'}
        '500': {$ref: 'common.yaml#/components/responses/InternalError'}
  /provider-keys/{provider_key_id}/prices:
    parameters: [{$ref: '#/components/parameters/provider_key_id'}]
    get:
      operationId: getAdminProviderKeyPrices
      responses:
        '200': {$ref: '#/components/responses/ProviderKeyPrices'}
        '401': {$ref: 'common.yaml#/components/responses/Unauthorized'}
        '404': {$ref: 'common.yaml#/components/responses/NotFound'}
        '500': {$ref: 'common.yaml#/components/responses/InternalError'}
    put:
      operationId: replaceAdminProviderKeyPrices
      requestBody: {$ref: '#/components/requestBodies/ProviderKeyPrices'}
      responses:
        '200': {$ref: '#/components/responses/ProviderKeyPrices'}
        '400': {$ref: 'common.yaml#/components/responses/BadRequest'}
        '401': {$ref: 'common.yaml#/components/responses/Unauthorized'}
        '404': {$ref: 'common.yaml#/components/responses/NotFound'}
        '500': {$ref: 'common.yaml#/components/responses/InternalError'}
components:
  securitySchemes:
    adminKey: {type: apiKey, in: header, name: X-GizWay-Admin-Key}
  parameters:
    provider_id: {name: provider_id, in: path, required: true, schema: {type: string, minLength: 1}}
    model_id: {name: model_id, in: path, required: true, schema: {type: string, minLength: 1}}
    model_listing_id: {name: model_listing_id, in: path, required: true, schema: {type: string, minLength: 1}}
    provider_key_id: {name: provider_key_id, in: path, required: true, schema: {type: string, minLength: 1}}
  schemas:
    Provider:
      type: object
      additionalProperties: false
      required: [id, name, kind, base_url, status, created_at]
      properties:
        id: {type: string, minLength: 1}
        name: {type: string, minLength: 1}
        kind: {type: string, minLength: 1}
        base_url: {type: string, format: uri}
        status: {type: string, enum: [active, inactive]}
        created_at: {type: string, format: date-time}
    CreateProvider:
      type: object
      additionalProperties: false
      required: [id, name, kind, base_url, status]
      properties:
        id: {type: string, minLength: 1}
        name: {type: string, minLength: 1}
        kind: {type: string, minLength: 1}
        base_url: {type: string, format: uri}
        status: {type: string, enum: [active, inactive]}
    UpdateProvider:
      type: object
      additionalProperties: false
      minProperties: 1
      properties:
        name: {type: string, minLength: 1}
        base_url: {type: string, format: uri}
        status: {type: string, enum: [active, inactive]}
    ProviderList: {type: object, additionalProperties: false, required: [data], properties: {data: {type: array, items: {$ref: '#/components/schemas/Provider'}}}}
    Model:
      type: object
      additionalProperties: false
      required: [id, provider_id, name, provider_model, status]
      properties:
        id: {type: string, minLength: 1}
        provider_id: {type: string, minLength: 1}
        name: {type: string, minLength: 1}
        provider_model: {type: string, minLength: 1}
        status: {type: string, enum: [active, inactive]}
    CreateModel:
      type: object
      additionalProperties: false
      required: [id, provider_id, name, provider_model, status]
      properties:
        id: {type: string, minLength: 1}
        provider_id: {type: string, minLength: 1}
        name: {type: string, minLength: 1}
        provider_model: {type: string, minLength: 1}
        status: {type: string, enum: [active, inactive]}
    UpdateModel:
      type: object
      additionalProperties: false
      minProperties: 1
      properties:
        name: {type: string, minLength: 1}
        provider_model: {type: string, minLength: 1}
        status: {type: string, enum: [active, inactive]}
    ModelList: {type: object, additionalProperties: false, required: [data], properties: {data: {type: array, items: {$ref: '#/components/schemas/Model'}}}}
    CustomerPrice:
      type: object
      additionalProperties: false
      required: [metric, unit_size, price_microcredits]
      properties:
        metric: {type: string, enum: [input_tokens, output_tokens]}
        unit_size: {type: integer, format: int64, minimum: 1}
        price_microcredits: {type: integer, format: int64, minimum: 0}
    CustomerPrices: {type: object, additionalProperties: false, required: [prices], properties: {prices: {type: array, minItems: 1, items: {$ref: '#/components/schemas/CustomerPrice'}}}}
    ModelListing:
      type: object
      additionalProperties: false
      required: [id, model_id, title, description, family, context, latency, accent, featured, display_order, availability, created_at, updated_at]
      properties:
        id: {type: string, minLength: 1}
        model_id: {type: string, minLength: 1}
        title: {type: string, minLength: 1}
        description: {type: string}
        family: {type: string, minLength: 1}
        context: {type: string}
        latency: {type: string}
        accent: {type: string}
        featured: {type: boolean}
        display_order: {type: integer}
        availability: {type: string, enum: [available, unavailable]}
        created_at: {type: string, format: date-time}
        updated_at: {type: string, format: date-time}
    CreateModelListing:
      type: object
      additionalProperties: false
      required: [id, model_id, title, description, family, context, latency, accent, featured, display_order, availability]
      properties:
        id: {type: string, minLength: 1}
        model_id: {type: string, minLength: 1}
        title: {type: string, minLength: 1}
        description: {type: string}
        family: {type: string, minLength: 1}
        context: {type: string}
        latency: {type: string}
        accent: {type: string}
        featured: {type: boolean}
        display_order: {type: integer}
        availability: {type: string, enum: [available, unavailable]}
    UpdateModelListing:
      type: object
      additionalProperties: false
      minProperties: 1
      properties:
        title: {type: string, minLength: 1}
        description: {type: string}
        family: {type: string, minLength: 1}
        context: {type: string}
        latency: {type: string}
        accent: {type: string}
        featured: {type: boolean}
        display_order: {type: integer}
        availability: {type: string, enum: [available, unavailable]}
    ModelListingList: {type: object, additionalProperties: false, required: [data], properties: {data: {type: array, items: {$ref: '#/components/schemas/ModelListing'}}}}
    ProviderKeyPrice:
      type: object
      additionalProperties: false
      required: [model_id, metric, unit_size, microcredits_per_unit]
      properties:
        model_id: {type: string, minLength: 1}
        metric: {type: string, enum: [input_tokens, output_tokens]}
        unit_size: {type: integer, format: int64, minimum: 1}
        microcredits_per_unit: {type: integer, format: int64, minimum: 0}
    ProviderKeyPrices: {type: object, additionalProperties: false, required: [prices], properties: {prices: {type: array, minItems: 1, items: {$ref: '#/components/schemas/ProviderKeyPrice'}}}}
    ProviderKey:
      type: object
      additionalProperties: false
      required: [id, provider_id, owner_identity_issuer, owner_identity_subject, merchant_id, name, status, secret_configured, created_at, updated_at]
      properties:
        id: {type: string, minLength: 1}
        provider_id: {type: string, minLength: 1}
        owner_identity_issuer: {type: string, minLength: 1}
        owner_identity_subject: {type: string, minLength: 1}
        merchant_id: {type: string, minLength: 1}
        name: {type: string, minLength: 1}
        status: {type: string, enum: [active, disabled]}
        secret_configured: {type: boolean, const: true}
        created_at: {type: string, format: date-time}
        updated_at: {type: string, format: date-time}
    CreateProviderKey:
      type: object
      additionalProperties: false
      required: [id, provider_id, owner_identity_issuer, owner_identity_subject, merchant_id, name, key, status, prices]
      properties:
        id: {type: string, minLength: 1}
        provider_id: {type: string, minLength: 1}
        owner_identity_issuer: {type: string, minLength: 1}
        owner_identity_subject: {type: string, minLength: 1}
        merchant_id: {type: string, minLength: 1}
        name: {type: string, minLength: 1}
        key: {type: string, minLength: 1, writeOnly: true}
        status: {type: string, enum: [active, disabled]}
        prices: {type: array, minItems: 1, items: {$ref: '#/components/schemas/ProviderKeyPrice'}}
    UpdateProviderKey:
      type: object
      additionalProperties: false
      minProperties: 1
      properties:
        name: {type: string, minLength: 1}
        status: {type: string, enum: [active, disabled]}
    RotateProviderKeySecret:
      type: object
      additionalProperties: false
      required: [key]
      properties: {key: {type: string, minLength: 1, writeOnly: true}}
    ProviderKeyList: {type: object, additionalProperties: false, required: [data], properties: {data: {type: array, items: {$ref: '#/components/schemas/ProviderKey'}}}}
  requestBodies:
    CreateProvider: {required: true, content: {application/json: {schema: {$ref: '#/components/schemas/CreateProvider'}}}}
    UpdateProvider: {required: true, content: {application/json: {schema: {$ref: '#/components/schemas/UpdateProvider'}}}}
    CreateModel: {required: true, content: {application/json: {schema: {$ref: '#/components/schemas/CreateModel'}}}}
    UpdateModel: {required: true, content: {application/json: {schema: {$ref: '#/components/schemas/UpdateModel'}}}}
    CustomerPrices: {required: true, content: {application/json: {schema: {$ref: '#/components/schemas/CustomerPrices'}}}}
    CreateModelListing: {required: true, content: {application/json: {schema: {$ref: '#/components/schemas/CreateModelListing'}}}}
    UpdateModelListing: {required: true, content: {application/json: {schema: {$ref: '#/components/schemas/UpdateModelListing'}}}}
    CreateProviderKey: {required: true, content: {application/json: {schema: {$ref: '#/components/schemas/CreateProviderKey'}}}}
    UpdateProviderKey: {required: true, content: {application/json: {schema: {$ref: '#/components/schemas/UpdateProviderKey'}}}}
    RotateProviderKeySecret: {required: true, content: {application/json: {schema: {$ref: '#/components/schemas/RotateProviderKeySecret'}}}}
    ProviderKeyPrices: {required: true, content: {application/json: {schema: {$ref: '#/components/schemas/ProviderKeyPrices'}}}}
  responses:
    Provider: {description: Provider state, content: {application/json: {schema: {$ref: '#/components/schemas/Provider'}}}}
    ProviderList: {description: Provider states, content: {application/json: {schema: {$ref: '#/components/schemas/ProviderList'}}}}
    Model: {description: Model state, content: {application/json: {schema: {$ref: '#/components/schemas/Model'}}}}
    ModelList: {description: Model states, content: {application/json: {schema: {$ref: '#/components/schemas/ModelList'}}}}
    CustomerPrices: {description: Model customer prices, content: {application/json: {schema: {$ref: '#/components/schemas/CustomerPrices'}}}}
    ModelListing: {description: Model Listing state, content: {application/json: {schema: {$ref: '#/components/schemas/ModelListing'}}}}
    ModelListingList: {description: Model Listing states, content: {application/json: {schema: {$ref: '#/components/schemas/ModelListingList'}}}}
    ProviderKey: {description: Redacted Provider Key state, content: {application/json: {schema: {$ref: '#/components/schemas/ProviderKey'}}}}
    ProviderKeyList: {description: Redacted Provider Key states, content: {application/json: {schema: {$ref: '#/components/schemas/ProviderKeyList'}}}}
    ProviderKeyPrices: {description: Provider Key procurement prices, content: {application/json: {schema: {$ref: '#/components/schemas/ProviderKeyPrices'}}}}
