openapi: 3.1.0
info: {title: GizPay Service API, version: 2.0.0}
servers: [{url: https://pay.gizway.com/service/v1}]
security: [{serviceBearer: []}]
paths:
  /subscription-credit-checks:
    post:
      operationId: checkSubscriptionCredit
      requestBody: {required: true, content: {application/json: {schema: {$ref: '#/components/schemas/CreditCheckRequest'}}}}
      responses: {'200': {description: Current balance decision, content: {application/json: {schema: {$ref: '#/components/schemas/CreditCheckResponse'}}}}}
  /payg-charges:
    post:
      operationId: createPAYGCharge
      requestBody: {required: true, content: {application/json: {schema: {$ref: '#/components/schemas/ChargeRequest'}}}}
      responses: {'201': {description: Posted charge, content: {application/json: {schema: {$ref: '#/components/schemas/Charge'}}}}, '409': {description: Duplicate external order ID}}
  /payg-charges/{external_order_id}:
    parameters:
      - {name: external_order_id, in: path, required: true, schema: {type: string}}
    get:
      operationId: getPAYGCharge
      responses: {'200': {description: Existing charge, content: {application/json: {schema: {$ref: '#/components/schemas/Charge'}}}}, '404': {description: Not found}}
components:
  securitySchemes:
    serviceBearer: {type: http, scheme: bearer, bearerFormat: JWT}
  schemas:
    CreditCheckRequest:
      type: object
      required: [api_key_hmac]
      properties: {api_key_hmac: {type: string, minLength: 43, maxLength: 43}}
    CreditCheckResponse:
      type: object
      required: [status, available_microcredits, checked_at, recheck_after_seconds]
      properties:
        status: {type: string, enum: [allowed, denied]}
        product_id: {type: string}
        billing_mode: {type: string, const: pay_as_you_go}
        available_microcredits: {type: integer, format: int64}
        checked_at: {type: string, format: date-time}
        recheck_after_seconds: {type: integer, format: int64, minimum: 1}
    Commission:
      type: object
      required: [merchant_id, amount_microcredits]
      properties: {merchant_id: {type: string}, amount_microcredits: {type: integer, format: int64, minimum: 0}}
    ChargeRequest:
      type: object
      required: [external_order_id, api_key_hmac, gross_microcredits, commissions, order, service_started_at, service_completed_at]
      properties:
        external_order_id: {type: string, minLength: 1}
        api_key_hmac: {type: string, minLength: 43, maxLength: 43}
        gross_microcredits: {type: integer, format: int64, minimum: 1}
        commissions: {type: array, maxItems: 32, items: {$ref: '#/components/schemas/Commission'}}
        order: {type: object, additionalProperties: true}
        service_started_at: {type: string, format: date-time}
        service_completed_at: {type: string, format: date-time}
    Charge:
      type: object
      required: [charge_id, external_order_id, gross_microcredits, platform_fee_microcredits, main_merchant_net_microcredits, ledger_transaction_id]
      properties:
        charge_id: {type: string}
        external_order_id: {type: string}
        gross_microcredits: {type: integer, format: int64}
        platform_fee_microcredits: {type: integer, format: int64}
        main_merchant_net_microcredits: {type: integer, format: int64}
        ledger_transaction_id: {type: string}
        commissions: {type: array, items: {$ref: '#/components/schemas/Commission'}}
