openapi: 3.1.0
info:
  title: GizPay Merchant API
  version: 1.0.0
  license:
    name: Proprietary
    identifier: LicenseRef-Proprietary
  description: |
    Gizway-owned API for accepting Credit payments. It does not expose ledger
    mutation primitives and cannot withdraw Credit as fiat currency.
servers:
  - url: https://api.gizway.com/pay/v1
security:
  - paymentApiKeyAuth: []
tags:
  - name: Payment intents
    description: Create and manage merchant requests for Credit payment.
  - name: Transactions
    description: Read the merchant's settled Credit activity.
  - name: Webhooks
    description: Configure signed event delivery to merchant systems.
paths:
  /payment_intents:
    post:
      tags: [Payment intents]
      operationId: createPaymentIntent
      summary: Create a payment intent
      parameters:
        - $ref: './common.yaml#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePaymentIntentRequest'
      responses:
        '201':
          description: Payment intent created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentIntent'
        '400': {$ref: './common.yaml#/components/responses/BadRequest'}
        '401': {$ref: './common.yaml#/components/responses/Unauthorized'}
        '403': {$ref: './common.yaml#/components/responses/Forbidden'}
        '409': {$ref: './common.yaml#/components/responses/Conflict'}
  /payment_intents/{payment_intent_id}:
    parameters:
      - $ref: '#/components/parameters/PaymentIntentId'
    get:
      tags: [Payment intents]
      operationId: getPaymentIntent
      summary: Retrieve a payment intent
      responses:
        '200':
          description: Payment intent.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentIntent'
        '401': {$ref: './common.yaml#/components/responses/Unauthorized'}
        '404': {$ref: './common.yaml#/components/responses/NotFound'}
  /payment_intents/{payment_intent_id}/confirm:
    post:
      security:
        - userSessionAuth: []
      tags: [Payment intents]
      operationId: confirmPaymentIntent
      summary: Confirm payment using an authenticated payer account
      description: This operation is called from an authenticated Gizway checkout or first-party app.
      parameters:
        - $ref: '#/components/parameters/PaymentIntentId'
        - $ref: './common.yaml#/components/parameters/IdempotencyKey'
      responses:
        '200':
          description: Payment completed or moved to its next state.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentIntent'
        '401': {$ref: './common.yaml#/components/responses/Unauthorized'}
        '404': {$ref: './common.yaml#/components/responses/NotFound'}
        '409': {$ref: './common.yaml#/components/responses/Conflict'}
  /checkout/payment_intents/{payment_intent_id}:
    get:
      security:
        - userSessionAuth: []
      tags: [Payment intents]
      operationId: getCheckoutPaymentIntent
      summary: View payer-facing merchant and fee disclosure before confirmation
      parameters:
        - $ref: '#/components/parameters/PaymentIntentId'
      responses:
        '200':
          description: Payment intent checkout disclosure.
          content:
            application/json:
              schema: {$ref: '#/components/schemas/PaymentIntent'}
        '401': {$ref: './common.yaml#/components/responses/Unauthorized'}
        '404': {$ref: './common.yaml#/components/responses/NotFound'}
  /payment_intents/{payment_intent_id}/cancel:
    post:
      tags: [Payment intents]
      operationId: cancelPaymentIntent
      summary: Cancel an unpaid payment intent
      parameters:
        - $ref: '#/components/parameters/PaymentIntentId'
        - $ref: './common.yaml#/components/parameters/IdempotencyKey'
      responses:
        '200':
          description: Payment intent cancelled.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentIntent'
        '401': {$ref: './common.yaml#/components/responses/Unauthorized'}
        '404': {$ref: './common.yaml#/components/responses/NotFound'}
        '409': {$ref: './common.yaml#/components/responses/Conflict'}
  /payment_intents/{payment_intent_id}/reversals:
    post:
      tags: [Transactions]
      operationId: reverseMerchantPayment
      summary: Reverse a settled merchant payment with a compensating posting
      description: |
        Creates one linked full reversal. The original payment intent and
        ledger posting remain immutable; this operation is not a top-up refund.
      parameters:
        - $ref: '#/components/parameters/PaymentIntentId'
        - $ref: './common.yaml#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: [reason]
              properties:
                reason: {type: string, minLength: 1, maxLength: 500}
      responses:
        '201':
          description: Compensating reversal posted.
          content:
            application/json:
              schema: {$ref: '#/components/schemas/MerchantPaymentReversal'}
        '200':
          description: Idempotent replay of the original reversal.
          content:
            application/json:
              schema: {$ref: '#/components/schemas/MerchantPaymentReversal'}
        '400': {$ref: './common.yaml#/components/responses/BadRequest'}
        '401': {$ref: './common.yaml#/components/responses/Unauthorized'}
        '404': {$ref: './common.yaml#/components/responses/NotFound'}
        '409': {$ref: './common.yaml#/components/responses/Conflict'}
  /transactions:
    get:
      tags: [Transactions]
      operationId: listMerchantTransactions
      summary: List transactions received by the authenticated merchant
      parameters:
        - $ref: './common.yaml#/components/parameters/Cursor'
        - $ref: './common.yaml#/components/parameters/Limit'
      responses:
        '200':
          description: Transaction page.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionList'
        '401': {$ref: './common.yaml#/components/responses/Unauthorized'}
  /webhook_endpoints:
    get:
      tags: [Webhooks]
      operationId: listWebhookEndpoints
      summary: List merchant webhook endpoints
      responses:
        '200':
          description: Registered endpoints.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    type: array
                    items: {$ref: '#/components/schemas/WebhookEndpoint'}
        '401': {$ref: './common.yaml#/components/responses/Unauthorized'}
    post:
      tags: [Webhooks]
      operationId: createWebhookEndpoint
      summary: Register a merchant webhook endpoint
      parameters:
        - $ref: './common.yaml#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateWebhookEndpointRequest'
      responses:
        '201':
          description: Endpoint registered. The signing secret is returned only once.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/WebhookEndpoint'
                  - type: object
                    required: [signing_secret]
                    properties:
                      signing_secret: {type: string}
        '200':
          description: Idempotent replay. The one-time signing secret is not returned again.
          content:
            application/json:
              schema: {$ref: '#/components/schemas/WebhookEndpoint'}
        '400': {$ref: './common.yaml#/components/responses/BadRequest'}
        '401': {$ref: './common.yaml#/components/responses/Unauthorized'}
        '409': {$ref: './common.yaml#/components/responses/Conflict'}
  /webhook_endpoints/{endpoint_id}:
    parameters:
      - name: endpoint_id
        in: path
        required: true
        schema: {type: string, format: uuid}
    patch:
      tags: [Webhooks]
      operationId: updateWebhookEndpoint
      summary: Enable or disable a merchant webhook endpoint
      parameters:
        - $ref: './common.yaml#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: [status]
              properties:
                status: {type: string, enum: [active, disabled]}
      responses:
        '200':
          description: Endpoint state updated.
          content:
            application/json:
              schema: {$ref: '#/components/schemas/WebhookEndpoint'}
        '400': {$ref: './common.yaml#/components/responses/BadRequest'}
        '401': {$ref: './common.yaml#/components/responses/Unauthorized'}
        '404': {$ref: './common.yaml#/components/responses/NotFound'}
    delete:
      tags: [Webhooks]
      operationId: deleteWebhookEndpoint
      summary: Delete an endpoint while retaining delivery history
      parameters:
        - $ref: './common.yaml#/components/parameters/IdempotencyKey'
      responses:
        '204': {description: Endpoint deleted.}
        '401': {$ref: './common.yaml#/components/responses/Unauthorized'}
        '404': {$ref: './common.yaml#/components/responses/NotFound'}
  /webhook_endpoints/{endpoint_id}/rotate_secret:
    parameters:
      - name: endpoint_id
        in: path
        required: true
        schema: {type: string, format: uuid}
    post:
      tags: [Webhooks]
      operationId: rotateWebhookEndpointSecret
      summary: Rotate the signing secret and return the new value once
      parameters:
        - $ref: './common.yaml#/components/parameters/IdempotencyKey'
      responses:
        '200':
          description: Signing secret rotated.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                required: [signing_secret]
                properties:
                  signing_secret: {type: string}
        '401': {$ref: './common.yaml#/components/responses/Unauthorized'}
        '404': {$ref: './common.yaml#/components/responses/NotFound'}
components:
  securitySchemes:
    paymentApiKeyAuth:
      $ref: './common.yaml#/components/securitySchemes/paymentApiKeyAuth'
    userSessionAuth:
      $ref: './common.yaml#/components/securitySchemes/userSessionAuth'
  parameters:
    PaymentIntentId:
      name: payment_intent_id
      in: path
      required: true
      schema: {type: string, format: uuid}
  schemas:
    CreatePaymentIntentRequest:
      type: object
      additionalProperties: false
      required: [service_id, external_order_id, amount, expires_at]
      properties:
        service_id: {type: string, format: uuid}
        external_order_id: {type: string, maxLength: 255}
        amount: {$ref: './common.yaml#/components/schemas/CreditAmount'}
        description: {type: string, maxLength: 1000}
        expires_at: {type: string, format: date-time}
        metadata: {type: object, additionalProperties: true}
        return_url: {type: string, format: uri}
    PaymentIntent:
      type: object
      additionalProperties: false
      required: [id, object, merchant_account_id, service_id, service_code, service_name, external_order_id, amount, platform_fee, net_amount, fee_bps, status, created_at, expires_at]
      properties:
        id: {type: string, format: uuid}
        object: {type: string, const: payment_intent}
        merchant_account_id: {type: string, format: uuid}
        service_id: {type: string, format: uuid}
        service_code: {type: string}
        service_name: {type: string}
        payer_account_id: {type: [string, "null"], format: uuid}
        external_order_id: {type: string}
        amount: {$ref: './common.yaml#/components/schemas/CreditAmount'}
        platform_fee: {$ref: './common.yaml#/components/schemas/CreditAmount'}
        net_amount: {$ref: './common.yaml#/components/schemas/CreditAmount'}
        fee_bps: {type: integer, minimum: 0, maximum: 10000}
        status:
          type: string
          enum: [created, authorized, succeeded, expired, cancelled, failed]
        description: {type: string}
        metadata: {type: object, additionalProperties: true}
        checkout_url: {type: string, format: uri}
        created_at: {type: string, format: date-time}
        expires_at: {type: string, format: date-time}
        completed_at: {type: [string, "null"], format: date-time}
    MerchantTransaction:
      type: object
      required: [id, payment_intent_id, external_order_id, gross_amount, platform_fee, net_amount, status, created_at]
      properties:
        id: {type: string, format: uuid}
        payment_intent_id: {type: string, format: uuid}
        external_order_id: {type: string}
        gross_amount: {$ref: './common.yaml#/components/schemas/CreditAmount'}
        platform_fee: {$ref: './common.yaml#/components/schemas/CreditAmount'}
        net_amount: {$ref: './common.yaml#/components/schemas/CreditAmount'}
        status: {type: string, enum: [pending, posted, reversed, failed]}
        created_at: {type: string, format: date-time}
    MerchantPaymentReversal:
      type: object
      additionalProperties: false
      required: [id, object, payment_intent_id, merchant_account_id, payer_account_id, gross_amount, platform_fee, net_amount, status, reason, ledger_transaction_id, created_at]
      properties:
        id: {type: string, format: uuid}
        object: {type: string, const: merchant_payment_reversal}
        payment_intent_id: {type: string, format: uuid}
        merchant_account_id: {type: string, format: uuid}
        payer_account_id: {type: string, format: uuid}
        gross_amount: {$ref: './common.yaml#/components/schemas/CreditAmount'}
        platform_fee: {$ref: './common.yaml#/components/schemas/CreditAmount'}
        net_amount: {$ref: './common.yaml#/components/schemas/CreditAmount'}
        status: {type: string, const: succeeded}
        reason: {type: string}
        ledger_transaction_id: {type: string, format: uuid}
        created_at: {type: string, format: date-time}
    TransactionList:
      type: object
      required: [data, page]
      properties:
        data:
          type: array
          items: {$ref: '#/components/schemas/MerchantTransaction'}
        page: {$ref: './common.yaml#/components/schemas/PageInfo'}
    CreateWebhookEndpointRequest:
      type: object
      additionalProperties: false
      required: [url, events]
      properties:
        url: {type: string, format: uri}
        events:
          type: array
          minItems: 1
          uniqueItems: true
          items:
            type: string
            enum: [payment_intent.succeeded, payment_intent.failed, payment_intent.cancelled, transaction.reversed]
    WebhookEndpoint:
      type: object
      required: [id, url, events, status, created_at, updated_at]
      properties:
        id: {type: string, format: uuid}
        url: {type: string, format: uri}
        events: {type: array, items: {type: string}}
        status: {type: string, enum: [active, disabled]}
        created_at: {type: string, format: date-time}
        updated_at: {type: string, format: date-time}
