{
  auto_https off
  admin off
}

:8080 {
  root * /srv
  @api path /openai/* /anthropic/* /genai/* /account/* /_sync/* /admin/* /service/* /user/* /webhooks/* /v1/* /v1beta/*
  encode zstd gzip
  route {
    respond /healthz 200
    respond @api 404
    try_files {path} /index.html
    file_server
  }
}
